
{%load static%}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Form</title>
    <link rel="stylesheet" href="https://codepen.io/gymratpacks/pen/VKzBEp#0">
    <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static '/cssss/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <div class="row mt-5">
        <div class="col-md-12">
            <h1> Enter Your OTP</h1>
            <form action="{% url 'render_login_page' %}" method="POST">
                {%csrf_token%}
                <fieldset>
                    <legend><span class="number">1</span> </legend>
                    <label for="tel">Mobile number:</label>
                    <input type="tel" id="number" value="{{phone}}" name="mobile_no">
                     
                    <label for="text">Enter your otp ...:</label>
                    <input oninput="myStopFunction()" type="text" id="number" name="login_otp">
         
                </fieldset>
                <div class="card-2">
                    <div class="content d-flex justify-content-start align-items-center"> 
                        <div class="btnGroup" id="clear">
                            <span class="Btn" id="verifiBtn" style="float:left ;">
                              <h5 style="color:red ;">Enter OTP with in ---></h5>
                            </span>&nbsp;&nbsp;
                            <span class="timer" style="float:left ; padding-top: 10px;">
                              <span  id="counter"></span>
                            </span>
                          </div>
                    </div>
                    
                </div>
                <button class="button1"  id="btn" type="submit">Verify</button> 
               
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                   <h5 style = "color:red; font-size:15px;margin-top:10px; text-align: center;">{{message}}</h5>
                    {% endfor %}
                </ul>
                {% endif %}
               
            </form>
          </div>
        </div>
      </div>
            
 </body>          
            <script>
               
                function countdown() {
                    var seconds = 59;
                    function tick() {
                      var counter = document.getElementById("counter");
                      seconds--;
                      counter.innerHTML =
                        "0:" + (seconds < 10 ? "0" : "") + String(seconds);
                      if (seconds > 0) {
                        setTimeout(tick, 1000);
                      } else {
                        document.getElementById("verifiBtn").innerHTML = `
                            <div class="Btn" id="ResendBtn">
                          
                                <button style="color:red;background-color:lightblue" onclick=refresh() type="submit">Resend OTP</button>
                          
                            </div>
                        `;
                        document.getElementById("counter").innerHTML = "";
                      }
                    }
                    tick();
                  }
                  countdown();
            
                  function refresh(){
                    setTimeout(function() {
                        location.reload();
                      }, 1000);
                  }
            
                  function stopcounter(){
                    document.getElementById('clear').innerHTML = ""
                  }
                  
                  
                  
                </script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
crossorigin="anonymous"></script>
       




